$iteration-count: 1;
$font-size-300x25: 18px;
$font-size-300x600: 1.9em;
$font-size-160x600: 1.3em;

$color: #000;

// added this here to no edit all files
.framed-img {
  img {
    backface-visibility: hidden;
    filter: blur(.0px);
    transform: translateZ(0);
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-backface-visibility: hidden;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
  }
}
