<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{page.meta-title}}</title>
  <meta name="title" content="{{page.meta-title}}">
  <meta name="description" content="{{page.meta-description}}">
  <meta name="keywords" content="4D" />
  <meta name="robots" content="INDEX,FOLLOW" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/main.css">
  <!-- Favicon -->
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#ffffff">
  
</head>

<body>


  <div id="page" class="site">
    <!--Content-->
    <main id="content" class="site-content">
      {{ content }}
    </main>
    
  </div>
</body>

</html>