@import '../fonts';
@import '../variables';

$animation-duration: 7s;
$animation-duration-retargeting: 8s;

html,
body {
  color: $color;
  font-family: 'Gloriola';
  font-size: 10px;
  margin: 0;
  padding: 0;
  height: 600px;
  width: 300px;
}

* {
  box-sizing: border-box;
  //animation-play-state: paused !important;
}

.services {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p,
ul {
  font-size: $font-size-300x600;
  line-height: 1.2;
  margin: 0;
}

a {
  color: inherit;
  position: relative;
  text-decoration: none;
}

body > a {
  background: #f2f2f2;
  display: inline-block;
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.tagline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: absolute;
  width: 100%;

  svg {
    height: 36px;
    width: 120px;
  }

  p {
    font-size: 1.3em;
    line-height: 1.1;
    margin-top: 6px;
    text-align: right;
  }
}

.msg {
  margin: 0 20px;
  position: absolute;

  span {
    display: block;
    opacity: 1;
  }
}

body a {
  height: 600px;
  width: 300px;
}

.framed-img img,
.l1,
.l2,
.tagline {
  animation-direction: forwards;
  animation-duration: $animation-duration;
  animation-iteration-count: $iteration-count;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.msg {
  top: 436px;
  padding-top: 16px;
}

.tagline {
  animation-name: tagline;
  bottom: 0;
}

.l1 {
  animation-name: textline1;
}

.l2 {
  animation-name: textline1;
}

@keyframes c-b {
  0%,
  35% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, -164px);
  }

  100% {
    transform: translate(0, -164px);
  }
}

.frame {
  background: #f2f2f2;
  display: inline-block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.frame-b {
  animation: c-b $animation-duration cubic-bezier(0.25, 0.1, 0.25, 1) 1 forwards;
  animation-iteration-count: $iteration-count;
  left: -100%;
  top: 100%;
  width: 300%;
}

@keyframes tagline {
  0%,
  65% {
    opacity: 0;
    transform: translateY(10px);
  }

  80% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes textline1 {
  0%,
  50% {
    opacity: 0;
    transform: translateY(-10px);
  }

  60% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes img {
  0%,
  10% {
    transform: scale(1) translateY(540px) translateX(77px);
  }

  35% {
    transform: scale(0.33831) translateY(510px) translateX(0px);
  }
}

.framed-img {
  height: 100%;
  left: 50%;
  position: absolute;
  top: 20%;
  width: 898px;
  height: 2077px;
  transform: translate(-50%, -50%);
  img {
    animation-timing-function: ease;
    border: 0;
   //height: 100%;
    animation-name: img;
    animation-duration: $animation-duration;
    animation-iteration-count: $iteration-count;
    transform: scale(0.33831) translateY(510px) translateX(0px);
  }
}

@keyframes img-champagne {
  0%,
  10% {
    transform: scale(1) translateY(370px) translateX(174px) translateZ(0);
  }

  35% {
    transform: scale(0.273) translateY(359px) translateX(0px) translateZ(0);
  }
}


@keyframes textline1-champagne {
  0%,
  30% {
    opacity: 0;
    transform: translateY(-10px);
  }

  40% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes c-b-champagne {
  0%,
  35% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, -164px);
  }

  100% {
    transform: translate(0, -164px);
  }
}


@keyframes tagline-champagne {
  0%,
  45% {
    opacity: 0;
    transform: translateY(10px);
  }

  60% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.champagne {
  .frame-b{
    animation-name: c-b-champagne;
  }
  .tagline{
    animation-name: tagline-champagne;
  }
  .l1,.l2,.l3{
    animation-name: textline1-champagne;
  }
  .framed-img {
    transform: translate(-550px, -799px);
    width: 1099px;
    height: 1597px;
    img {
      width: 1099px;
      height: 1597px;
      animation-name: img-champagne;
      transform: scale(0.273) translateY(359px) translateX(0px) translateZ(0);
    }
  }
}

@keyframes img-champagne2 {
  0%,
  10% {
    transform: scale(2.8) translateY(108px) translateX(-25px);
  }

  35% {
    transform: scale(0.85) translateY(108px) translateX(-25px);
  }
}



.champagne2 {
  .framed-img {
    img {
      animation-name: img-champagne2;
      transform: scale(0.85) translateY(108px) translateX(-25px);
    }
  }
}

@keyframes c-b-warehouse {
  0%,
  20% {
    transform: translate(0, 0);
  }

  35% {
    transform: translate(0, -164px);
  }

  100% {
    transform: translate(0, -164px);
  }
}

@keyframes img-warehouse {
  0%,
  10% {
    transform: scale(1) translateY(215px) translateX(290px);
  }
  35% {
    transform: scale(0.1939) translateY(505px) translateX(0px);
  }
  100% {
    transform: scale(0.1939) translateY(505px) translateX(0px);
  }
}

@keyframes textline1-warehouse {
  0%,
  30% {
    opacity: 0;
    transform: translateY(-10px);
  }

  40% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}


@keyframes tagline-warehouse {
  0%,
  45% {
    opacity: 0;
    transform: translateY(10px);
  }

  60% {
    opacity: 1;
    transform: translateY(0%);
  }
}


.warehouse {
  .frame-b{
    animation-name: c-b-warehouse;
  }
  .l1,.l2,.l3{
    animation-name: textline1-warehouse;
  }
  .tagline{
    animation-name: tagline-warehouse;
  }
  .framed-img {
    height: 2248px;
    width: 1551px;
    transform: translate(-776px, -1129px);
    img {
      //height: 2248px;
      width: 1551px;
      animation-name: img-warehouse;
      transform: scale(0.1939) translateY(505px) translateX(0px);
    }
  }
}

@keyframes img-retargeting {
  0%,
  10% {
    transform: scale(1) translateY(215px) translateX(290px);
  }

  35%,
  100%{
    transform: scale(0.1939) translateY(507px) translateX(0px);

  }
}

@keyframes service1-retargeting {
  0%,
  80% {
    opacity: 0;
    transform: translateY(20%);
  }

  91% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes service2-retargeting {
  0%,
  81% {
    opacity: 0;
    transform: translateY(20%);
  }

  92% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes service3-retargeting {
  0%,
  82% {
    opacity: 0;
    transform: translateY(20%);
  }

  92% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes textline-retargeting {
  0%,
  35% {
    opacity: 0;
    transform: translateY(-20%);
  }

  40%,
  70% {
    opacity: 1;
    transform: translateY(0);
  }

  80% {
    opacity: 0;
    transform: translateY(20%);
  }
}

@keyframes tagline-retargeting {
  0%,
  45% {
    opacity: 0;
    transform: translateY(20%);
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/*@keyframes c-b-retargeting {
  0%,
  30% {
    transform: translate(0, 0);
  }

  36% {
    transform: translate(0, -164px);
  }

  100% {
    transform: translate(0, -164px);
  }
}*/

.retargeting {
  .framed-img img,
  ul li,
  .l1,
  .l2,
  .tagline {
    animation-duration: $animation-duration-retargeting;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  .tagline {
    animation-name: tagline-retargeting;
  }

  .framed-img {
    height: 2248px;
    width: 1551px;
    transform: translate(-776px, -1124px);
    img {
      //height: 2248px;
      width: 1551px;
      animation-name: img-retargeting;
      transform: scale(0.1939) translateY(507px) translateX(0px);
    }
  }
  .l1 {
    opacity: 0;
    animation-name: textline-retargeting;
  }

  .l2 {
    opacity: 0;
    animation-name: textline-retargeting;
  }
  .frame-b {
    animation: c-b-warehouse $animation-duration-retargeting
      cubic-bezier(0.25, 0.1, 0.25, 1) 1 forwards;
  }
  .services {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 436px;
    padding-top: 12px;
    margin-left: 20px;

    li {
      font-size: 19px;

      &:nth-child(1) {
        animation-name: service1-retargeting;
      }

      &:nth-child(2) {
        animation-name: service2-retargeting;
      }

      &:nth-child(3) {
        animation-name: service3-retargeting;
      }
    }
  }
}


@keyframes img-bluechip-retargeting {
  0%,
  10% {
    transform: scale(1) translateY(540px) translateX(77px);
  }

  30% {
    transform: scale(0.33831) translateY(510px) translateX(0px);
  }
}

.bluechip-retargeting {
  .framed-img img,
  ul li,
  .l1,
  .l2,
  .tagline {
    animation-duration: $animation-duration-retargeting;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  .tagline {
    animation-name: tagline-retargeting;
  }

  .framed-img {
    width: 898px;
    height: 2077px;
    transform: translate(-50%, -50%);
    img {
      animation-name: img-bluechip-retargeting;
      transform: scale(0.33831) translateY(510px) translateX(0px);
    }
  }
  .l1 {
    opacity: 0;
    animation-name: textline-retargeting;
  }

  .l2 {
    opacity: 0;
    animation-name: textline-retargeting;
  }
  .frame-b {
    animation: c-b-warehouse $animation-duration-retargeting
      cubic-bezier(0.25, 0.1, 0.25, 1) 1 forwards;
  }
  .services {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 436px;
    padding-top: 12px;
    margin-left: 20px;

    li {
      font-size: 19px;

      &:nth-child(1) {
        animation-name: service1-retargeting;
      }

      &:nth-child(2) {
        animation-name: service2-retargeting;
      }

      &:nth-child(3) {
        animation-name: service3-retargeting;
      }
    }
  }
}

@keyframes img-champagne-retargeting {
  0%,
  10% {
    transform: scale(1) translateY(370px) translateX(174px) translateZ(0);
  }

  30% {
    transform: scale(0.273) translateY(359px) translateX(0px) translateZ(0);
  }
}



.champagne-retargeting {
  .framed-img img,
  ul li,
  .l1,
  .l2,
  .tagline {
    animation-duration: $animation-duration-retargeting;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  .tagline {
    animation-name: tagline-retargeting;
  }

  .framed-img {
    transform: translate(-550px, -799px);
    width: 1099px;
    height: 1597px;
    img {
      width: 1099px;
      height: 1597px;
      animation-name: img-champagne-retargeting;
      transform: scale(0.273) translateY(359px) translateX(0px) translateZ(0);
    }
  }
  .l1 {
    opacity: 0;
    animation-name: textline-retargeting;
  }

  .l2 {
    opacity: 0;
    animation-name: textline-retargeting;
  }
  .frame-b {
    animation: c-b-warehouse $animation-duration-retargeting
      cubic-bezier(0.25, 0.1, 0.25, 1) 1 forwards;
  }
  .services {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 436px;
    padding-top: 12px;
    margin-left: 20px;

    li {
      font-size: 19px;

      &:nth-child(1) {
        animation-name: service1-retargeting;
      }

      &:nth-child(2) {
        animation-name: service2-retargeting;
      }

      &:nth-child(3) {
        animation-name: service3-retargeting;
      }
    }
  }
}
