@import '../fonts';
@import '../variables';

$animation-duration: 14s;

html,
body {
  color: $color;
  font-family: 'Gloriola';
  font-size: 10px;
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  //animation-play-state: paused !important;
}

.services {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p,
ul {
  font-size: 22px;
  line-height: 24px;
  margin: 0;
}
ul {
  li {
    font-size: 20px;
    line-height: 24px;
  }
}

a {
  color: inherit;
  position: relative;
  text-decoration: none;
}

body > a {
  background: #f2f2f2;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

body > a::after {
  -webkit-box-shadow: inset 0 0 1px #414141;
  box-shadow: inset 0 0 1px #414141;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.tagline {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  padding-bottom: 32px;
  position: absolute;
  width: 100%;
}

.tagline svg {
  height: 28px;
  width: 121px;
}

.tagline p {
  font-size: 1.3em;
  line-height: 1.1;
  margin-top: 6px;
  text-align: right;
}

.msg {
  position: absolute;
}

.msg span {
  display: block;
  opacity: 1;
}

body a {
  height: 250px;
  width: 970px;
}

.framed-img img,
.l1,
.l2,
.l3,
.tagline,
.services li {
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-duration: $animation-duration;
  animation-duration: $animation-duration;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.msg,
.tagline,
.services {
  left: 0;
  position: absolute;
  width: 300px;
}

.services {
  padding: 24px;
  top: 0; 
}

.services li:nth-child(1) {
  -webkit-animation-name: service1;
  animation-name: service1;
}

.services li:nth-child(2) {
  -webkit-animation-name: service2;
  animation-name: service2;
}

.services li:nth-child(3) {
  -webkit-animation-name: service3;
  animation-name: service3;
}

.msg {
  font-size: 2em;
  padding: 24px;
  top: 0;
}

.tagline {
  -webkit-animation-name: tagline;
  animation-name: tagline;
  bottom: 0;
}

.l1 {
  opacity: 1;
  animation-name: textline1;
}

.l2 {
  opacity: 1;
  animation-name: textline1;
}

.l3 {
  opacity: 1;
  animation-name: textline1;
}

.framed-img {
  width: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.framed-img img {
  border: 0;
  width: 100%;
}

@keyframes c-t {
  0%,
  6.66667% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  16.66667% {
    -webkit-transform: translate(0, 24px);
    transform: translate(0, 24px);
  }

  25.33333%,
  53.33333% {
    -webkit-transform: translate(0, 24px);
    transform: translate(0, 24px);
  }

  60%,
  100% {
    -webkit-transform: translate(0, 24px);
    transform: translate(0, 24px);
  }
}

@keyframes c-r {
  0%,
  6.66667% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  16.66667% {
    -webkit-transform: translate(-24px, 0);
    transform: translate(-24px, 0);
  }

  25.33333%,
  53.33333% {
    -webkit-transform: translate(-24px, 0);
    transform: translate(-24px, 0);
  }

  60%,
  100% {
    -webkit-transform: translate(-24px, 0);
    transform: translate(-24px, 0);
  }
}

@keyframes c-b {
  0%,
  6.66667% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  16.66667% {
    -webkit-transform: translate(0, -24px);
    transform: translate(0, -24px);
  }

  25.33333%,
  53.33333% {
    -webkit-transform: translate(0, -24px);
    transform: translate(0, -24px);
  }

  60%,
  100% {
    -webkit-transform: translate(0, -24px);
    transform: translate(0, -24px);
  }
}

@keyframes c-l {
  0%,
  16.66667% {
    transform: translate(0, 0);
  }

  25.33333%,
  53.33333% {
    -webkit-transform: translate(300px, 0);
    transform: translate(300px, 0);
  }

  60%,
  100% {
    -webkit-transform: translate(300px, 0);
    transform: translate(300px, 0);
  }
}

.frame {
  background: #f2f2f2;
  display: inline-block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.frame-t {
  -webkit-animation: c-t $animation-duration cubic-bezier(0.25, 0.1, 0.25, 1) 1
    forwards;
  animation: c-t $animation-duration cubic-bezier(0.25, 0.1, 0.25, 1) 1 forwards;
  left: -100%;
  top: -100%;
  width: 300%;
}

.frame-r {
  -webkit-animation: c-r $animation-duration cubic-bezier(0.25, 0.1, 0.25, 1) 1
    forwards;
  animation: c-r $animation-duration cubic-bezier(0.25, 0.1, 0.25, 1) 1 forwards;
  height: 300%;
  left: 100%;
  top: -100%;
}

.frame-b {
  -webkit-animation: c-b $animation-duration cubic-bezier(0.25, 0.1, 0.25, 1) 1
    forwards;
  animation: c-b $animation-duration cubic-bezier(0.25, 0.1, 0.25, 1) 1 forwards;
  left: -100%;
  top: 100%;
  width: 300%;
}

.frame-l {
  -webkit-animation: c-l $animation-duration cubic-bezier(0.25, 0.1, 0.25, 1) 1
    forwards;
  animation: c-l $animation-duration cubic-bezier(0.25, 0.1, 0.25, 1) 1 forwards;
  height: 300%;
  left: -105%;
  top: -100%;
}

@keyframes service1 {
  0%,
  58.66667% {
    opacity: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }

  63.55533%,
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes service2 {
  0%,
  59.33333% {
    opacity: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }

  64.222%,
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@keyframes service3 {
  0%,
  60% {
    opacity: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }

  64.88867%,
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes textline1 {
  0%,
  21.33333% {
    opacity: 0;
    transform: translateY(-20%);
  }

  26.222%,
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes tagline {
  0%,
  30% {
    opacity: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }

  36%,
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes img {
  0%,
  6.66667% {
    transform: scale(1) translate(-444px, 450px);
  }

  /*  16.66667% {
    transform: scale(0.50) translate(-244px, 450px);
  } */

  25.33333%,
  53.33333%,
  100% {
    transform: scale(0.3) translate(261px, 221px);
  }
}

.framed-img {
  width: 3000px;
  height: 1428px;
  img {
    animation-name: img;
    transform: scale(0.3) translate(261px, 221px);
    width: 3000px;
    height: 1428px;
  }
}
@keyframes img-warehouse {
  0%,
  6.66667% {
    transform: scale(1) translate(-50px, 224px);
  }

  /*16.66667% {
    transform: scale(0.50) translate(-50px, 224px);
  }*/

  25.33333%,
  53.33333%,
  100% {
    transform: scale(0.315) translate(290px, 221px);
  }
}

@keyframes img-retargeting {
  0%,
  6.66667% {
    transform: scale(1) translate(-50px, 224px);
  }

  /*16.66667% {
    transform: scale(0.50) translate(-50px, 224px);
  }*/

  25.33333%,
  53.33333% {
    transform: scale(0.29) translate(380px, 237px);
  }

  63.55533%,
  100% {
    transform: scale(0.29) translate(380px, 237px);
  }
}

.warehouse {
  .framed-img {
    width: 3000px;
    height: 1428px;
    img {
      animation-name: img-warehouse;
      transform: scale(0.315) translate(290px, 221px);
      width: 3000px;
      height: 1428px;
    }
  }
}

@keyframes img-champagne {
  0%,
  6.66667% {
    transform: scale(1) translate(-50px, 266px);
  }

  /*16.66667% {
    transform: scale(0.80) translate(-50px, 224px);
  }*/

  25.33333%,
  53.33333%,
  100% {
    transform: scale(0.4485) translate(195px, 110px);
  }
}

@keyframes c-l-champagne {
  0%,
  6.66667% {
    transform: translate(0, 0);
  }

  26.33333%,
  53.33333% {
    -webkit-transform: translate(300px, 0);
    transform: translate(300px, 0);
  }

  60%,
  100% {
    -webkit-transform: translate(300px, 0);
    transform: translate(300px, 0);
  }
}

.champagne {
  .frame-l {
    animation-name: c-l-champagne;
  }
  .framed-img {
    width: 1772px;
    height: 1331px;
    img {
      animation-name: img-champagne;
      transform: scale(0.4485) translate(195px, 101px);
      width: 1772px;
      height: 1331px;
    }
  }
}

@keyframes textline-retargeting {
  0%,
  21.33333% {
    opacity: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }

  26.222%,
  53.33333% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  58.222%,
  100% {
    opacity: 0;
    transform: translateY(-50%);
  }
}
.retargeting {
  .framed-img {
    width: 3000px;
    height: 1428px;
    img {
      animation-name: img-retargeting;
      transform: scale(0.29) translate(380px, 237px);
      width: 3000px;
      height: 1428px;
    }
  }
  .msg span {
    display: block;
    opacity: 0;
  }

  .l1 {
    animation-name: textline-retargeting;
  }

  .l2 {
    animation-name: textline-retargeting;
  }

  .l3 {
    animation-name: textline-retargeting;
  }
}
