@import '../fonts';
@import '../variables';

//$animation-duration:7s;
$animation-duration: 7s;
$animation-duration-retargeting: 9s;

html,
body {
  color: $color;
  font-family: 'Gloriola';
  font-size: 10px;
  margin: 0;
  padding: 0;
  height: 250px;
  width: 300px;
}

* {
  box-sizing: border-box;
  //animation-play-state: paused !important;
}

p,
ul {
  font-size: 1.6em;
  line-height: 1.2;
  margin: 0;
}

a {
  color: inherit;
  position: relative;
  text-decoration: none;
}

body > a {
  background: #f2f2f2;
  display: inline-block;
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.tagline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: absolute;
  width: 100%;

  svg {
    height: 24px;
    width: 105px;
  }

  p {
    font-size: 1.3em;
    line-height: 1.1;
    margin-top: 6px;
    text-align: right;
  }
}

.msg {
  margin: 0 20px;
  position: absolute;

  span {
    display: block;
    opacity: 1;
  }
}

body a {
  height: 250px;
  width: 300px;
}

.framed-img img,
.l1,
.l2,
.tagline {
  animation-direction: forwards;
  animation-duration: $animation-duration;
  animation-iteration-count: $iteration-count;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.msg {
  top: 133px;
  padding-top: 12px;
}

.tagline {
  animation-name: tagline;
  bottom: 0;
}

.l1 {
  animation-name: textline1;
}

.l2 {
  animation-name: textline1;
}

@keyframes c-b {
  0%,
  30% {
    transform: translate(0, 0);
  }

  55% {
    transform: translate(0, -133px);
  }
  100% {
    transform: translate(0, -133px);
  }
}

.frame {
  background: #f2f2f2;
  display: inline-block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.frame-b {
  animation: c-b $animation-duration cubic-bezier(0.25, 0.1, 0.25, 1) 1 forwards;
  animation-iteration-count: $iteration-count;
  left: -100%;
  top: 106.5%;
  width: 300%;
}

@keyframes tagline {
  0%,
  65% {
    opacity: 0;
    transform: translateY(20%);
  }

  80% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes textline1 {
  0%,
  50% {
    opacity: 0;
    transform: translateY(-20%);
  }

  60% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}



.warehouse {
  .framed-img {
    width: 2066px;
    height: 1548px;
    img {
      width: 2066px;
      animation-name: img-warehouse;
      transform: scale(0.2333) translateY(387px) translateX(-10px);
    }
  }
}

@keyframes img-warehouse {
  0%,
  10%
  {
    transform: scale(1) translateY(198px) translateX(103px);
  }

  35% {
    transform: scale(0.2333) translateY(387px) translateX(-10px);
  }
}



@keyframes img {
  0%,
  10%{
    transform: scale(1) translateY(300px) translateX(-300px);
  }
  35%{
    transform:  scale(0.31111) translateY(355px) translateX(-280px);
  }
  100%{
    transform:  scale(0.31111) translateY(355px) translateX(-280px);
  }

 
}

.framed-img {
  width: 1659px;
  height: 1245px;
  left: 50%;
  position: absolute;
  top: 0%;
  transform: translate(-50%, -50%);
  img {
    border: 0;
    width:1659px;
    animation-name: img;
    animation-duration: $animation-duration;
    animation-iteration-count: $iteration-count;
    transform:  scale(0.31111) translateY(355px) translateX(-280px);
  }
}


@keyframes img-champagne {
  0%,
  10%{
    transform: scale(1) translateY(210px) translateX(-10px);
  }
  35%{
    transform:  scale(0.441666666666667) translateY(220px) translateX(-20px);
  }
  100%{
    transform:  scale(0.441666666666667) translateY(220px) translateX(-20px);
  }
}
.champagne {
  .framed-img {
    width: 958px;
    height: 719px;
    img {
      width: 958px;
      animation-name: img-champagne;
      transform:  scale(0.441666666666667) translateY(220px) translateX(-20px);
    }
  }
}


@keyframes img-retargeting {
  0%,
  10%
  {
    transform: scale(1) translateY(198px) translateX(103px);
  }

  30% {
    transform: scale(0.2333) translateY(387px) translateX(-10px);
  }
}

@keyframes service-retargeting {
  0%,
  80% {
    opacity: 0;
    transform: translateY(20%);
  }

  91%{
    opacity: 1;
    transform: translateY(0%);
  }
  100%{
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes textline-retargeting {
  0%,
  35% {
    opacity: 0;
    transform: translateY(-20%);
  }

  40%,
  70% {
    opacity: 1;
    transform: translateY(0);
  }

  80%{
    opacity: 0;
    transform: translateY(20%);
  }
}

@keyframes tagline-retargeting {
  0%,
  45% {
    opacity: 0;
    transform: translateY(20%);
  }
  55%,
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.retargeting {
  .framed-img img,
  ul li,
  .l1,
  .l2,
  .tagline {
    animation-duration: $animation-duration-retargeting;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  .tagline {
    animation-name: tagline-retargeting;
  }
  .framed-img {
    width: 2066px;
    height: 1548px;
    img {
      width: 2066px;
      animation-name: img-retargeting;
      transform: scale(0.2333) translateY(387px) translateX(-10px);
    }
  }
  .l1 {
    opacity: 0;
    animation-name: textline-retargeting;
  }

  .l2 {
    opacity: 0;
    animation-name: textline-retargeting;
  }
  .services {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 133px;
    padding-top: 12px;
    margin-left: 20px;

    li {
      font-size: 14px;
      line-height: 15.4px;

      animation-name: service-retargeting;
    }
  }
}
