@import '../fonts';
@import '../variables';

html,
body {
  color: $color;
  font-family: 'Gloriola';
  font-size: 10px;
  margin: 0;
  padding: 0;
  height: 250px;
  width: 300px;
}

* {
  box-sizing: border-box;
}

.services {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p,
ul {
  font-size: $font-size-300x25;
  line-height: 1.2;
  margin: 0;
}

a {
  color: inherit;
  position: relative;
  text-decoration: none;
}

body>a {
  background: #f2f2f2;
  display: inline-block;
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.tagline {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: absolute;
  width: 100%;

  svg {
    height: 36px;
    width: 120px;
  }

  p {
    font-size: 1.3em;
    line-height: 1.1;
    margin-top: 6px;
    text-align: right;
  }
}

.msg {
  margin: 0 20px;
  position: absolute;

  span {
    display: block;
    opacity: 0;
  }
}

body a {
  height: 250px;
  width: 300px;
}

.framed-img img,
.l1,
.l2,
.tagline {
  animation-direction: forwards;
  animation-duration: 12s;
  animation-iteration-count: $iteration-count;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.services {
  li {
    animation-direction: forwards;
    animation-duration: 12s;
    animation-iteration-count: $iteration-count;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

    &:nth-child(1) {
      animation-name: service1;
    }

    &:nth-child(2) {
      animation-name: service2;
    }

    &:nth-child(3) {
      animation-name: service3;
    }
  }

  padding: 20px;
  position: absolute;
  top: 0;
}

.msg {
  bottom: 24px;
}

.tagline {
  animation-name: tagline;
  bottom: 0;
}

.l1 {
  animation-name: textline1;
}

.l2 {
  animation-name: textline1;
}

.framed-img {
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  img {
    border: 0;
    height: 100%;
  }
}

@keyframes c-t {

  0%,
  6.66667% {
    transform: translate(0, 0);
  }

  16.66667% {
    transform: translate(0, 20px);
  }

  25.33333%,
  72% {
    transform: translate(0, 20px);
  }

  83.33333%,
  100% {
    transform: translate(0, 20px);
  }
}

@keyframes c-r {

  0%,
  6.66667% {
    
    transform: translate(0, 0);
  }

  16.66667% {
    transform: translate(-20px, 0);
  }

  25.33333%,
  72% {
    transform: translate(-20px, 0);
  }

  83.33333%,
  100% {
    transform: translate(-20px, 0);
  }
}

@keyframes c-b {

  0%,
  6.66667% {
    
    transform: translate(0, 0);
  }

  16.66667% {
    transform: translate(0, -20px);
  }

  25.33333%,
  72% {
    transform: translate(0, -70px);
  }

  83.33333%,
  100% {
    transform: translate(0, -250px);
  }
}

@keyframes c-l {

  0%,
  6.66667% {
    
    transform: translate(0, 0);
  }

  16.66667% {
    transform: translate(20px, 0);
  }

  25.33333%,
  72% {
    transform: translate(20px, 0);
  }

  83.33333%,
  100% {
    transform: translate(20px, 0);
  }
}

.frame {
  background: #f2f2f2;
  display: inline-block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.frame-t {
  animation: c-t 12s cubic-bezier(0.25, 0.1, 0.25, 1) 1 forwards;
  animation-iteration-count: $iteration-count;
  left: -100%;
  top: -100%;
  width: 300%;
}

.frame-r {
  animation: c-r 12s cubic-bezier(0.25, 0.1, 0.25, 1) 1 forwards;
  animation-iteration-count: $iteration-count;
  height: 300%;
  left: 100%;
  top: -100%;
}

.frame-b {
  animation: c-b 12s cubic-bezier(0.25, 0.1, 0.25, 1) 1 forwards;
  animation-iteration-count: $iteration-count;
  left: -100%;
  top: 100%;
  width: 300%;
}

.frame-l {
  animation: c-l 12s cubic-bezier(0.25, 0.1, 0.25, 1) 1 forwards;
  animation-iteration-count: $iteration-count;
  height: 300%;
  left: -100%;
  top: -100%;
}



@keyframes tagline {

  0%,
  55% {
    opacity: 0;
    transform: translateY(20%);
  }

  60%,
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}


@keyframes service1 {

  0%,
  80% {
    opacity: 0;
    transform: translateY(20%);
  }

  84.88867%,
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}


@keyframes service2 {

  0%,
  80.66667% {
    opacity: 0;
    transform: translateY(20%);
  }

  85.55533%,
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}



@keyframes service3 {

  0%,
  81.33333% {
    opacity: 0;
    transform: translateY(20%);
  }

  86.222%,
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes textline1 {

  0%,
  20% {
    opacity: 0;
    transform: translateY(20%);
  }

  24.88867%,
  50% {
    opacity: 1;
    transform: translateY(0);
  }

  55%,
  100% {
    opacity: 0;
    transform: translateY(-50%);
  }
}


@keyframes textline2 {

  0%,
  33.33333% {
    opacity: 0;
    transform: translateY(20%);
  }

  38.222%,
  53.33333% {
    opacity: 1;
    transform: translateY(0);
  }

  58.222%,
  100% {
    opacity: 0;
    transform: translateY(-50%);
  }
}


@keyframes img {
  0%,
  6.66667% {
    transform: scale(2) translateY(50px);
  }
  16.66667% {
    transform: scale(0.84) translateY(0);
  }
  25.33333%,
  72% {
    transform: scale(0.72) translateY(-35px);
  }
  83.33333%,
  100% {
    transform: scale(0.72) translateY(-105px);
  }
}


@keyframes financial-wellness-img {
  0%,
  6.66667% {
    transform: scale(2) translateY(20px) translateX(100px);
  }
  16.66667% {
    transform: scale(0.84) translateY(0);
  }
  25.33333%,
  72% {
    transform: scale(0.72) translateY(-35px);
  }
  83.33333%,
  100% {
    transform: scale(0.72) translateY(-105px);
  }
}


.framed-img img {
  animation-name: img;
  animation-iteration-count: $iteration-count;
  transform: scale(0.72) translateY(-105px);
}

.financial-wellness{
  .framed-img img {
    animation-name: financial-wellness-img;
  }
}