@import '../fonts';
@import '../variables';

$animation-duration: 7s;
$animation-duration-retargeting: 10s;

html,
body {
  color: $color;
  font-family: 'Gloriola';
  font-size: 10px;
  margin: 0;
  padding: 0;
  height: 600px;
  width: 160px;
}

* {
  box-sizing: border-box;
  //animation-play-state: paused !important;
}

.services {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p,
ul {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

a {
  color: inherit;
  position: relative;
  text-decoration: none;
}

body > a {
  background: #f2f2f2;
  display: inline-block;
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.tagline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: absolute;
  width: 100%;

  svg {
    width: 105px;
    height: 24px;
  }

  p {
    font-size: 1.3em;
    line-height: 1.1;
    margin-top: 6px;
    text-align: right;
  }
}

.msg {
  margin: 0 20px;
  position: absolute;

  span {
    display: block;
    opacity: 1;
  }
}

body a {
  height: 600px;
  width: 160px;
}

.framed-img img,
.l1,
.l2,
.l3,
.tagline {
  animation-direction: forwards;
  animation-duration: $animation-duration;
  animation-iteration-count: $iteration-count;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.msg {
  top: 436px;
  padding-top: 16px;
}

.tagline {
  animation-name: tagline;
  bottom: 0;
}

.l1 {
  animation-name: textline1;
}

.l2 {
  animation-name: textline1;
}
.l3 {
  animation-name: textline1;
}

@keyframes c-b {
  0%,
  30% {
    transform: translate(0, 0);
  }

  55% {
    transform: translate(0, -164px);
  }

  100% {
    transform: translate(0, -164px);
  }
}

.frame {
  background: #f2f2f2;
  display: inline-block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.frame-b {
  animation: c-b $animation-duration cubic-bezier(0.25, 0.1, 0.25, 1) 1 forwards;
  animation-iteration-count: $iteration-count;
  left: -100%;
  top: 100%;
  width: 300%;
}

@keyframes tagline {
  0%,
  65% {
    opacity: 0;
    transform: translateY(10px);
  }

  80% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes textline1 {
  0%,
  50% {
    opacity: 0;
    transform: translateY(-10px);
  }

  60% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes img {
  0%,
  10% {
    transform: scale(1) translateY(280px) translateX(-320px);
  }
  35% {
    transform: scale(0.5) translateY(280px) translateX(-350px);
  }

  100% {
    transform: scale(0.5) translateY(280px) translateX(-350px);
  }
}

.framed-img {
  left: 50%;
  position: absolute;
  top: 20%;
  transform: translate(-50%, -50%);
  width: 2049px;
  height: 1537px;
  img {
    width: 2049px;
    height: 1537px;
    animation-timing-function: ease;
    border: 0;

    animation-name: img;
    animation-duration: $animation-duration;
    animation-iteration-count: $iteration-count;
    transform: scale(0.5) translateY(280px) translateX(-350px);
  }
}

@keyframes c-b-champagne {
  0%,
  10% {
    transform: translate(0, 0);
  }

  26% {
    transform: translate(0, -164px);
  }

  100% {
    transform: translate(0, -164px);
  }
}

@keyframes textline1-champagne {
  0%,
  20% {
    opacity: 0;
    transform: translateY(-10px);
  }

  31% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


@keyframes tagline-champagne {
  0%,
  35% {
    opacity: 0;
    transform: translateY(10px);
  }

  50% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes img-champagne {
  0%,
  10% {
    transform: scale(1) translateY(176px) translateX(-37px);
  }

  35% {
    transform: scale(0.5) translateY(175px) translateX(-30px);
  }
}
.champagne {
  .tagline{
    animation-name: tagline-champagne;
  }
  .l1 {
    animation-name: textline1-champagne;
  }

  .l2 {
    animation-name: textline1-champagne;
  }
  .l3 {
    animation-name: textline1-champagne;
  }
  .frame-b {
    animation-name: c-b-champagne;
  }
  .framed-img {
    width: 1266px;
    height: 951px;
    img {
      width: 1266px;
      height: 951px;
      animation-name: img-champagne;
      transform: scale(0.5) translateY(175px) translateX(-30px);
    }
  }
}

@keyframes c-b-warehouse {
  0%,
  10% {
    transform: translate(0, 0);
  }

  26% {
    transform: translate(0, -164px);
  }

  100% {
    transform: translate(0, -164px);
  }
}


@keyframes textline1-warehouse {
  0%,
  20% {
    opacity: 0;
    transform: translateY(-10px);
  }

  31% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


@keyframes tagline-warehouse {
  0%,
  35% {
    opacity: 0;
    transform: translateY(10px);
  }

  50% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes img-warehouse {
  0%,
  10% {
    transform: scale(1) translateY(98px) translateX(80px);
  }

  35% {
    transform: scale(0.465) translateY(210px) translateX(-30px);
  }
}
.warehouse {
  .frame-b {
    animation-name: c-b-warehouse;
  }
  .tagline {
    animation-name: tagline-warehouse;
  }
  .l1,.l2,.l3{
    animation-name: textline1-warehouse;
  }
  .framed-img {
    width: 1438px;
    height: 1078px;
    img {
      width: 1438px;
      height: 1078px;
      animation-name: img-warehouse;
      transform: scale(0.465) translateY(210px) translateX(-30px);
    }
  }
}

@keyframes img-retargeting {
  0%,
  10% {
    transform: scale(1) translateY(98px) translateX(80px);
  }

  25% {
    transform: scale(0.465) translateY(210px) translateX(-30px);
  }
}

@keyframes service1-retargeting {
  0%,
  80% {
    opacity: 0;
    transform: translateY(20%);
  }

  91% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes service2-retargeting {
  0%,
  81% {
    opacity: 0;
    transform: translateY(20%);
  }

  92% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes service3-retargeting {
  0%,
  82% {
    opacity: 0;
    transform: translateY(20%);
  }

  93% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes textline-retargeting {
  0%,
  25% {
    opacity: 0;
    transform: translateY(-5px);
  }

  35%,
  70% {
    opacity: 1;
    transform: translateY(0);
  }

  80% {
    opacity: 0;
    transform: translateY(5px);
  }
}

@keyframes tagline-retargeting {
  0%,
  35% {
    opacity: 0;
    transform: translateY(5px);
  }

  40% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes c-b-retargeting {
  0%,
  20% {
    transform: translate(0, 0);
  }

  38% {
    transform: translate(0, -164px);
  }

  100% {
    transform: translate(0, -164px);
  }
}

.retargeting {
  .framed-img img,
  ul li,
  .l1,
  .l2,
  .l3,
  .tagline {
    animation-duration: $animation-duration-retargeting;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  .frame-b {
    animation-name: c-b-retargeting;
  }
  .framed-img {
    width: 1438px;
    height: 1078px;
    img {
      width: 1438px;
      height: 1078px;
      animation-name: img-retargeting;
      transform: scale(0.465) translateY(210px) translateX(-30px);
    }
  }

  .l1,
  .l2,
  .l3 {
    opacity: 0;
    animation-name: textline-retargeting;
  }

  .tagline {
    animation-name: tagline-retargeting;
  }

  .services {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 436px;
    padding-top: 16px;
    margin-left: 20px;

    li {
      font-size: 13px;
      line-height: 15px;

      &:nth-child(1) {
        animation-name: service1-retargeting;
      }

      &:nth-child(2) {
        animation-name: service2-retargeting;
      }

      &:nth-child(3) {
        animation-name: service3-retargeting;
      }
    }
  }
}




@keyframes img-champagne-retargeting {
  0%,
  10% {
    transform: scale(1) translateY(176px) translateX(-37px);
  }

  25% {
    transform: scale(0.5) translateY(175px) translateX(-30px);
  }
}

.champagne-retargeting {
  .framed-img img,
  ul li,
  .l1,
  .l2,
  .l3,
  .tagline {
    animation-duration: $animation-duration-retargeting;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  .frame-b {
    animation-name: c-b-retargeting;
  }
  .framed-img {
    width: 1438px;
    height: 1078px;
    img {
      width: 1438px;
      height: 1078px;
      animation-name: img-champagne-retargeting;
      transform: scale(0.5) translateY(175px) translateX(-30px);
    }
  }

  .l1,
  .l2,
  .l3 {
    opacity: 0;
    animation-name: textline-retargeting;
  }

  .tagline {
    animation-name:  tagline-retargeting;
  }

  .services {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 436px;
    padding-top: 16px;
    margin-left: 20px;

    li {
      font-size: 13px;
      line-height: 15px;

      &:nth-child(1) {
        animation-name: service1-retargeting;
      }

      &:nth-child(2) {
        animation-name: service2-retargeting;
      }

      &:nth-child(3) {
        animation-name: service3-retargeting;
      }
    }
  }
}




@keyframes img-bluechip-retargeting {
  0%,
  10% {
    transform: scale(1) translateY(280px) translateX(-320px);
  }
  25% {
    transform: scale(0.5) translateY(280px) translateX(-350px);
  }

  100% {
    transform: scale(0.5) translateY(280px) translateX(-350px);
  }
}


.bluechip-retargeting {
  .framed-img img,
  ul li,
  .l1,
  .l2,
  .l3,
  .tagline {
    animation-duration: $animation-duration-retargeting;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  .frame-b {
    animation-name: c-b-retargeting;
  }
  .framed-img {
    width: 2049px;
    height: 1537px;
    img {
      width: 2049px;
      height: 1537px;
      animation-name: img-bluechip-retargeting;
      transform: scale(0.5) translateY(280px) translateX(-350px);
    }
  }

  .l1,
  .l2,
  .l3 {
    opacity: 0;
    animation-name: textline-retargeting;
  }

  .tagline {
    animation-name:  tagline-retargeting;
  }

  .services {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 436px;
    padding-top: 16px;
    margin-left: 20px;

    li {
      font-size: 13px;
      line-height: 15px;

      &:nth-child(1) {
        animation-name: service1-retargeting;
      }

      &:nth-child(2) {
        animation-name: service2-retargeting;
      }

      &:nth-child(3) {
        animation-name: service3-retargeting;
      }
    }
  }
}
